* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.4em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 24em;
  max-width: 30em;
  margin: 1em;
}

.gameboard {
  display: flex;
  flex-direction: column;
}

.commands {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.commands img {
  height: 6em;
  cursor: pointer;
}

img[class^="card"] {
  max-width: 6em;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

button {
  background-color: blue;
  color: white;
  padding: 1em 2em;
  border: 0;
  border-radius: 8px;
  margin-top: 1em;
  font-size: 1.8em;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}

@media (max-width: 600px)
{
  body {
    font-size: 12px;
  }
}