* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  color: #3c3c3c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: #6fe1a8;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  color: #5e5e5e;
}

#player {
  position: absolute;
  background-image: url("../assets/bird.png");
}

#container {
  display: grid;
  grid-template: "header" "instructions" "game" "commands" "score";
  grid-gap: 0.5em;
  height: 100%;
}

#header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #283747;
  padding: 1em;
  margin-bottom: 1em;
}

#header > h2 {
  color: #f2f2f2;
}

#instructions {
  grid-area: instructions;
  text-align: justify;
  white-space: normal;
  line-height: 1.2em;
  font-size: 1.2em;
  padding: 0 1em;
}

#main-game {
  grid-area: game;
  position: relative;
  width: 767px; /* Telas de tamanho médio */
  max-width: 767px; /* Telas de tamanho médio */
  height: 100%;
  min-height: 525px;
  justify-self: end;
}

#screen-game {
  position: absolute;
  width: 100%;
  height: 464px;
  top: 0;
  background-image: url("../assets/sky.png");
  background-repeat: repeat-x;
  background-position: 0px 100%;
  background-color: #4ec0ca;
}

#prize-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  text-align: center;
}

#prize {
  text-align: center;
  font-size: 2em;
  margin: 0;
  margin-block-start: 0.2em;
  padding: 0.4em;
  background: #3c3c3c1a;
  color: #f5f5f5;
  border-radius: 0.3em;
  text-transform: uppercase;
}

#footer-game {
  position: absolute;
  top: 464px;
  width: 100%;
  height: calc(100% - 464px);
  background-image: url("../assets/land.png");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-color: #ded895;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#opposite {
  font-size: 1.4em;
}

#score {
  grid-area: score;
  font-size: 2em;
  color: #f3f3f3;
  background-color: #de354c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#score button {
  background-color: transparent;
  color: #f3f3f3;
  padding: 0.5em;
  border: 1px solid #f3f3f3;
  border-radius: 0.7em;
  margin-top: 1em;
}

#commands {
  grid-area: commands;
  background-color: #3C1874;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#commands p {
  text-align: justify;
  white-space: normal;
  line-height: 1.2em;
  font-size: 1.2em;
  padding: 0 1em;
}

#buttonsCommand {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 1em 0;
}

#buttonsCommand button {
  background-color: transparent;
  color: #f3f3f3;
  font-size: 1.3em;
  padding: 0.8em;
  border: 1px solid #f3f3f3;
  border-radius: 1em;
}

#wall {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}

#wall > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  padding: 0.3em;
}

@media (min-width: 800px) {
  h1 {
    font-size: 1.6em;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.3em;
  }

  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #commands {
    padding: 1em;
  }
}

@media (min-width: 1020px) {
  #container {
    grid-template: "header header" "instructions instructions" "score game" "commands game";
  }

  #score {
    width: calc(100vw - 775px);
    font-size: 1.5em;
  }  

  #buttonsCommand {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    height: 100%;
  }

  #buttonsCommand button {
    font-size: 1em;
  }
  
}

@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }

  #score {
    font-size: 2em;
  }  

  #buttonsCommand button {
    font-size: 1.3em;
  }
}

@-webkit-keyframes animBird {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -96px;
  }
}
@-moz-keyframes animBird {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -96px;
  }
}
@-o-keyframes animBird {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -96px;
  }
}
@keyframes animBird {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -96px;
  }
}

@-webkit-keyframes animLand {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -335px 0px;
  }
}
@-moz-keyframes animLand {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -335px 0px;
  }
}
@-o-keyframes animLand {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -335px 0px;
  }
}
@keyframes animLand {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -335px 0px;
  }
}

@-webkit-keyframes animSky {
  0% {
    background-position: 0px 100%;
  }
  100% {
    background-position: -275px 100%;
  }
}
@-moz-keyframes animSky {
  0% {
    background-position: 0px 100%;
  }
  100% {
    background-position: -275px 100%;
  }
}
@-o-keyframes animSky {
  0% {
    background-position: 0px 100%;
  }
  100% {
    background-position: -275px 100%;
  }
}
@keyframes animSky {
  0% {
    background-position: 0px 100%;
  }
  100% {
    background-position: -275px 100%;
  }
}
