* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}


h1 {
  font-size: 1.8em;
  color: #159957;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.2em;
  color: #5e5e5e;
  margin: 1em 0;
}

h3 {
  font-size: 1.5em;
  color: #e5e5e5;
  margin: 0 auto 0.8em;
  text-align: center;
}

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: 'title' 'subTitle' 'roulette' 'rollCommand' 'answer' 'where';  
  padding: 5px;
  margin-top: 1em;
}

.title {
  grid-area: title; 
  align-self: center;
  justify-self: center;
}

.subTitle {
  grid-area: subTitle; 
  align-self: center;
  justify-self: center;
  margin-bottom: 2em;
}

.roulette {
  grid-area: roulette; 
  align-self: center;
  justify-self: center;
  padding: 1em;
  border: 1px solid rgba(253, 252, 253, 0.31);
  background: rgb(239, 237, 246);
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.79);
  -moz-box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.79);
  box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.79);
}

.roulette-container {
  overflow: hidden; 
}

.rollCommand {
  grid-area: rollCommand;
  background-color: blue;
  color: white;
  padding: 0.7em 1.5em;
  border: 0;
  border-radius: 8px;
  font-size: 1.5em;
  align-self: start;
  justify-self: center;
}

.answer {
  grid-area: answer; 
  display: none;
  padding: 1em;
  background-color: rgb(15, 1, 94);
  background-image: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94));
  border-radius: 0.6em;
  align-items: center;
}

.answers-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.answer-option {
  background-color: #dff1d9;
  color: #1e1e1e;
  padding: 0.7em 1em;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1em;
} 

.where {
  grid-area: where; 
  display: none;
  filter: saturate(110%);
  background: linear-gradient(0deg,#ac0f16,#dd4545 50%,#fd9d52);
  padding: 1em;
  border-radius: 0.6em;
}

.where .answer-option {
  background-color: #e8bdbd;
}

.correct-answer {
  background-color: #1e661e !important;
  color: #e5e5e5 !important;
  cursor: not-allowed !important;
}

.incorrect-answer {
  background-color: #e33a3a !important;
  color: #e5e5e5 !important;
  cursor: not-allowed !important;
}

@media (min-width: 577px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2em;
    margin: 0;
  }

  h2 {
    font-size: 1.5em;
  }

  .answer-option {
    font-size: 1.5em;
  } 

  .container {
    grid-template-areas: 
    'title title title'
    'subTitle subTitle subTitle'
    'roulette answer answer'
    'rollCommand where where';
   }

  .subTitle {
    margin-bottom: 3em;
  }
  
}
